// TODO: replace these with something useful as gmd-nav evolves

$view-layout-max-width: 989px;
$view-layout-position: absolute;
$view-layout-top: 137px;
$view-layout-left: 211px;
$view-layout-bottom: 0;
$view-layout-right: 0;
$view-layout-background: #f4f5f6;
$view-layout-overflow: auto;
$view-layout-padding: 20px;

$page-container-width: 946px;
$page-container-margin: 23px 23px 23px 20px;
$page-container-border: 1px solid #b2b2b2;