$body-width: 1200px;
$body-min-height: 100%;
$body-background: #F2F2F2;
$body-font-color: #4A4A4A;

$layout-width: 100%;
$layout-min-width: 1010px;
$layout-height: 100%;
$layout-box-shadow: 0 4px 8px 1px #E5E5E4;

$view-layout-max-width: 989px;
$view-layout-position: absolute;
$view-layout-top: 137px;
$view-layout-left: 211px;
$view-layout-bottom: 0;
$view-layout-background: #F4F5F6;
$view-layout-overflow: auto;

$page-container-width: 944px;
$page-container-margin: 23px 23px 23px 20px;
$page-container-border: 1px solid #b2b2b2;

$lato: Lato, sans-serif;