$body-width: 1200px;
$body-min-height: 100%;
$body-background: #f2f2f2;
$body-font-color: #4A4A4A;

$layout-width: 100%;
$layout-height: 100%;
$layout-box-shadow: 0 4px 8px 1px #e5e5e4;
$layout-background: #fff;

$view-layout-max-width: 989px;
$view-layout-position: absolute;
$view-layout-top: 137px;
$view-layout-left: 211px;
$view-layout-bottom: 0;
$view-layout-right: 0;
$view-layout-background: #f4f5f6;
$view-layout-overflow: auto;
$view-layout-padding: 20px;

$page-container-width: 946px;
$page-container-margin: 23px 23px 23px 20px;
$page-container-border: 1px solid #b2b2b2;

$lato: Lato, sans-serif;