//
// Add all delete module specific styles here
// Variable names should be prefixed with "layout-"
//

//
// Variables
//

$layout-width: 100%;
$layout-min-width: 1010px;
$layout-height: 100%;
$layout-box-shadow: 0 4px 8px 1px #e5e5e4;
$layout-background: #fff;

.layout-container {
  width: $layout-width;
  height: $layout-height;
}